<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="name"
        placeholder="Enter Name">
    </div>
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="address"
        placeholder="Enter Address">
    </div>
    <label class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="phoneNumber"
        placeholder="Enter Phone Number">
    </div>
</div>

<button (click)="addContact()" *ngIf="dep.id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateContact()" *ngIf="dep.id!=0" class="btn btn-primary">
    Update
</button>