<div class="container">

  <h3 class="d-flex justify-content-center">Contact CRUD</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="contact"
            class="m-1 btn btn-light btn-outline-primary" Button>Contacts</button>
        </li>
    </ul>
    </nav>
<router-outlet></router-outlet>

</div>